{% extends 'base.html.twig' %}

{% block title %}
    Administration
{% endblock %}

{% block content %}
    <header class="masthead" style="background-image: url('src/Public/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto ">
                    <div class="site-heading">
                        <h1>Administration</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 text-center">
                <div class="card">
                    <h5 class="card-header">Post restant à valider</h5>
                    <div class="card-body">
                        <h2 class="text-danger font-weight-bold">{{ countUnvalidatedPost }}</h2>
                        <a href="#post" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="card">
                    <h5 class="card-header">Réponse restante à valider</h5>
                    <div class="card-body">
                        <h2 class="text-danger font-weight-bold">{{ countUnvalidatedAnswer }}</h2>

                        <a href="#answer" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <h3 id="post">Post : </h3>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                    <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Date</th>
                        <th scope="col">Voir</th>
                        <th scope="col">Valider</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <th>{{ post.pseudo }}</th>
                            <td>{{ post.title }}</td>
                            <td>{{ post.createdAt }}</td>
                            <td>
                                <a href="/Blog/post/{{ post.id }}" class="btn btn-primary btn-block">
                                     <i class="fas fa-eye"></i>
                                </a>
                            </td>
                            <td>
                                <form method="post" action="./validate-post/{{ post.id }}">
                                    <button type="submit" class="btn btn-success btn-block ">
                                         <i class="fas fa-check"></i>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form method="post" action="./delete-post/{{ post.id }}">
                                    <button type="submit" class="btn btn-danger btn-block">
                                         <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h3 id="answer">Réponse : </h3>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                    <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Réponse</th>
                        <th scope="col">Date</th>
                        <th scope="col">Voir</th>
                        <th scope="col">Valider</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for answer in answers %}
                        <tr>
                            <th scope="row">{{ answer.pseudo }}</th>
                            <td>{{ answer.answer }}</td>
                            <td>{{ answer.createdAt }}</td>
                            <td>
                                <a href="/Blog/post/{{ answer.idPost }}" class="btn btn-primary btn-block">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </td>
                            <td>
                                <form method="post" action="./validate-answer/{{ answer.id }}">
                                    <button type="submit" class="btn btn-success btn-block">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form method="post" action="./delete-answer/{{ answer.id }}">
                                    <button type="submit" class="btn btn-danger btn-block">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}