<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ '/' ~ constant('ROOT_DIR') ~ '/node_modules/startbootstrap-clean-blog/vendor/bootstrap/css/bootstrap.min.css'}}">
    <link rel="icon" href="{{ '/' ~ constant('ROOT_DIR') ~ '/src/Public/img/blogging.ico' }}">
    <link href="{{ '/' ~ constant('ROOT_DIR') ~ '/vendor/fontawesome-free/css/all.min.css' }}" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100;400&display=swap"
          rel="stylesheet">
    <link href="{{ '/' ~ constant('ROOT_DIR') ~ '/node_modules/startbootstrap-clean-blog/css/clean-blog.min.css' }}"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ '/' ~ constant('ROOT_DIR') ~ '/src/Public/css/style.css' }}">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheet %}{% endblock %}
</head>

<body>
{% include 'navbar.html.twig' %}
{% block content %}{% endblock %}
{% include 'footer.html.twig' %}

{% block javascripts %}
    <script src="{{ '/' ~ constant('ROOT_DIR') ~ '/node_modules/startbootstrap-clean-blog/vendor/jquery/jquery.min.js' }}"></script>
    <script src="{{ '/' ~ constant('ROOT_DIR') ~ '/node_modules/startbootstrap-clean-blog/vendor/bootstrap/js/bootstrap.min.js' }}"></script>
{% endblock %}
</body>

</html>
