{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ '/' ~ constant('ROOT_DIR') ~ '/src/Public/css/profil.css' }}">
{% endblock %}

{% block title %}
    Modifer votre profil
{% endblock %}

{% block content %}
    <header class="masthead"
            style="background-image: url('{{ "/" ~ constant("ROOT_DIR") ~ "/src/Public/img/about-bg.jpg" }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto ">
                    <div class="site-heading">
                        <h1>Modifier votre profil</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto mb-5">
                {% if message != null %}
                    <div class="alert alert-{{ class }}" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <form method="post" enctype="multipart/form-data">
                    <div class="form-profil">
                        <label for="description">Description :</label>
                        <textarea id="description" name="description">{{ description }}</textarea>
                    </div>
                    <div class="form-profil">
                        <label for="country">Pays :</label>
                        <select id="country" name="country" class="form-control">
                            {% for countryCode, countryName in country %}
                                <option value="{{ countryCode }}">{{ countryName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-profil">
                        <label for="images-selector">Photo de profil :</label>
                        <div class="images-selector">
                            <input type="radio" id="bebop" name="image" value="bebop">
                            <label for="bebop" class="img-card img1"></label>
                            <input type="radio" id="donattello" name="image" value="donattello">
                            <label for="donattello" class="img-card img2"></label>
                            <input type="radio" id="foot-clan" name="image" value="foot-clan">
                            <label for="foot-clan" class="img-card img3"></label>
                            <input type="radio" id="karai" name="image" value="karai">
                            <label for="karai" class="img-card img4"></label>
                            <input type="radio" id="leonardo" name="image" value="leonardo">
                            <label for="leonardo" class="img-card img5"></label>
                            <input type="radio" id="michaelangelo" name="image" value="michaelangelo">
                            <label for="michaelangelo" class="img-card img6"></label>
                            <input type="radio" id="shredder" name="image" value="shredder">
                            <label for="shredder" class="img-card img7"></label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Modifier</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        tinymce.init({
            selector: 'textarea',
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | ' +
                'bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat | help',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        });
    </script>
{% endblock %}
