{% extends 'base.html.twig' %}

{% block title %}
    Les posts
{% endblock %}

{% block content %}
    <header class="masthead" style="background-image: url('{{ "/" ~ constant("ROOT_DIR") ~ "/src/Public/img/post-bg.jpg"}}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto ">
                    <div class="site-heading">
                        <h1>Tout les posts</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto ">
                <div class="{{ class }}">
                    {{ message }}
                </div>
                {% for post in row %}
                <div class="post-preview list-post">
                    <a href="posts/{{ post.id }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.lead }}
                        </h3>
                    </a>
                    <a class="btn btn-primary float-right" href="posts/{{ post.id }}" style="color: white;">Lire</a>
                    <p class="post-meta">Créer par {{ post.firstname }} le {{ post.createdAt }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
