{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/Blog/src/Public/css/answer.css">
{% endblock %}

{% block content %}
<header class="masthead" style="background-image: url('{{ "/" ~ constant("ROOT_DIR") ~ "/src/Public/img/post-bg.jpg"}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ title }}</h1>
                    <h2 class="subheading">{{ lead }}</h2>
                    <span class="meta">Créer par {{ firstname }} le {{ createdAt }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        {% if idUserSession == idUserPost %}
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="btn-group" role="group">
                    <form action="/Blog/modify-post/{{ idPost }}">
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </form>
                    <form action="/Blog/delete-post/{{ idPost }}">
                        <button type="submit" class="btn btn-primary mt-6">Supprimer</button>
                    </form>
                </div>
            </div>
        {% endif %}
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ erreur }}
            {{ content|raw }}
            {% for i in answer %}
                <div class="panel">
                    <p class="info">Créer par
                        {{ i.firstname }},
                        le {{ i.createdAt }}
                        {% if idUserSession == i.idUser %}
                            <a href="/Blog/modify-answer/{{ i.id }}" class="panel-btn">Modifier</a>
                        {% endif %}
                    </p>
                </div>
                <div class="answer">
                    {{ i.answer|raw }}
                </div>
            {% endfor %}
            {% if session %}
                {{ session.auth }}
                {% include 'createAnswer.html.twig' %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
