{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/Blog/Public/css/answer.css">
{% endblock %}

{% block content %}
    <header class="masthead"
            style="background-image: url('{{ "/" ~ constant("ROOT_DIR") ~ "/Public/img/post-bg.jpg" }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ title }}</h1>
                        <h2 class="subheading">{{ lead }}</h2>
                        {% if updatedAt == null %}
                            <span class="meta">Créé par {{ pseudo.pseudo }} le {{ createdAt | date("d/m/Y") }}</span>
                        {% else %}
                            <span class="meta">Créé par {{ pseudo.pseudo }} , mis à jour le {{ updatedAt | date("d/m/Y") }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            {% if idUserSession == idUserPost %}
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="btn-group float-right mb-4" role="group">
                        <form action="/Blog/modify-post/{{ idPost }}">
                            <button type="submit" class="btn btn-primary btn-block">Modifier <i class="fas fa-edit"></i>
                            </button>
                        </form>
                        <form action="/Blog/delete-post/{{ idPost }}">
                            <button type="submit" class="btn btn-danger ml-3">Supprimer <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
            {% endif %}
            <div class="col-lg-8 col-md-10 mx-auto">
                {% if message != null %}
                    <div class="alert alert-{{ class }}" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                {{ content|raw }}
                {% for i in answer %}
                    <div class="panel">
                        <p class="info">Créé par
                            {{ i.firstname }},
                            le {{ i.createdAt }}
                            {% if idUserSession == i.idUser %}
                                <a href="/Blog/delete-answer/{{ i.id }}" class="panel-btn-suppr">Supprimer</a>
                                <a href="/Blog/modify-answer/{{ i.id }}" class="panel-btn-modif">Modifier</a>
                            {% endif %}
                        </p>
                    </div>
                    <div class="answer">
                        {{ i.answer|raw }}
                    </div>
                {% endfor %}
                {% if session %}
                    {{ session.auth }}
                    {% include 'createAnswer.html.twig' %}
                {% else %}
                    <p>Vous devez être connecté(e) pour pouvoir répondre à un post !</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
